{% extends "base.html" %}

{% block menu %}
  {% if sort == 'comment' %}
    sorted by latest comment<br>
    <a href="/?sort=post&page={{ page }}">sort by latest post</a><br>
  {% else %}
    sorted by latest post<br>
    <a href="/?sort=comment&page={{ page }}">sort by latest comment</a><br>
  {% end %}
  <hr>
{% end %}

{% block body %}
  {% for p in posts %}
    {{ modules.Post(p) }}
  {% end %}
  <div style="text-align: center;">
    <a href="/?sort={{ sort }}&page={{ page+1 }}">older posts</a>
    {% if page > 0 %}
    &nbsp; &nbsp; &nbsp;
    <a href="/?sort={{ sort }}&page={{ page-1 }}">newer posts</a>
    {% end %}
  </div>
{% end %}
