<div class="post">
  <a class="title" href="{{ escape(p.link) }}">{{ escape(p.title) }}</a><br>
  <p class="summary">{{ p.summary }}</p>
  <p class="meta">by {{ escape(p.author) }}
  {% if p.taglist %}
    to <span class="tags">{{ ' '.join(p.taglist) }}</span>
  {% end %}
  <br>
  {{ escape(p.ago) }}
  &mdash;
  {% if comment_link %}<a href="/post/{{ p.id }}">{% end %}
    {{ p.comments }} comment{% if p.comments != 1 %}s{% end %}
  {% if comment_link %}</a>{% end %}
  &mdash;
  <img class="check" alt="checkmark" linkid="{{ p.id }}"
  {% if p.didcheck %}
    src="/static/greencheck.gif"
  {% else %}
    src="/static/checkmark.gif"
  {% end %}
  >
  <span class="checkcount">{{ p.checks }}</span>
  </p>
</div>
